.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 200;
  background-color: gray;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
}
.login-btn {
  background-color: #802121;
  color: white;

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #ffffff;
  color: white;
}

.profile-container p{
  font-weight: bold;
}

@media (max-width: 768px) {
  .profile-container {
    height: auto; 
    padding: 15px; 
  }
}
